* {
  box-sizing: border-box;
/*   border: solid 1px cyan; */
  padding: 0;
  margin: 0;
}

body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.container {
  border-radius: 10px;
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden; 
  padding: 50px;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.form-control {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  border: solid 2px #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
}

.form-control.success input {
  color: #189635;
  border: solid 2px #189635;
}

.form-control.error input {
  color: #d32916;
  border: solid 2px #d32916;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 20px;
}

.form-control.success .fa-circle-check {
  visibility: visible;
  color: #189635;
}

.form-control.error .fa-circle-exclamation {
  visibility: visible;
  color: #d32916;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

form button {
  background-color: #dd5038;
  padding: 10px;
  display: block;
  width: 100%;
  border: solid 2px #1b1a1a;
  border-radius: 4px;
  color: #1b1a1a;
  font-family: inherit;
  font-size: 16px;
}